.scroller{
    transition: all 0.5s ease 0s;
    overflow: visible;
}

header{
    display: none;
}

.scree_body {
    width: 100%;
    height: 100%;
}

.scree_body_router {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.index_video {
    width: calc(90% - 354px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index_video iframe {
    width: 825px;
    height: 486px;
    background: #000;
    background: url(/images/border.png) no-repeat center center;
    padding: 30px;
    background-size: contain;
}

.index_video .role_intro{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;

}

.router_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.router_btn a{
    font-size: 20px;
    color: #fff;
    padding: 10px 50px;
    margin: 10px;
    text-align: center;
    letter-spacing: 6px;
    background: url('/images/btn_2.png') no-repeat center center;
    background-size: contain;
    color: #e1b066;
}

.scree_body_tutorial,.scree_body_news {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_list {
    display: flex;
    justify-content: space-around;
    padding:0 40px;
    max-width: 1200px;
}

.card_item {
    color: #fff;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    animation: float 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

.card_item img {
    width: 100%;
    border-radius: 40px;
    margin-top: -80px;
    transition: .3s;
}

.card_item img:hover {
    margin-top: -100px;
}

.card_item h4 {
    padding: 20px 0;
    font-size: 18px;
}
.card_item p {
    line-height: 25px;
    color: #ebebeb;
}

.card_item a {
    padding: 10px;
    margin-top: 5px;
    display: inline-block;
    color: #ffffff;
    background: #9790d2;
    border-radius: 5px;
}

.scree_body_title {
    width: 90%;
    padding-bottom: 50px;
}

.scree_body_title a {
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: #fff;
    background-image: -webkit-linear-gradient(bottom,#9b65bc,#fff);
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
    position: relative;
}

.scree_body_title a::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 1px;
    background-color: #fff;
    right: -20px;
    top: 5px;
}

.news_list{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news_item {
    width: 30%;
}

.news_item a {
    color: #fff;
    font-size: 14px;
    -webkit-line-clamp: 2;
    line-height: 26px;
    display: block;
}

.news_item a i {
    border: 1px solid #e1b066;
    display: inline-block;
    border-radius: 10px;
    line-height: 20px;
    font-size: 12px;
    width: 40px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    color: #e1b066;
    font-style: normal;
}

.news_item img {
    width: 100%;
    height: calc(100% * 12/14);
    object-fit: cover;
}

logo {
    position: fixed;
    left: 20px;
    top: 20px;
}
logo img {
    width: 200px;
}

@media screen and (max-width: 1210px) {
    .index_video {
        width: calc(100% - 260px);
    }
    .index_video iframe {
        background:none;
    }
   
}

@media screen and (max-width: 1000px) {
    .index_video iframe {
        height: 400px;
    }

    .card_item h4 {
        padding: 0;
        margin: 20px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .card_item p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .scree_body_title {
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .scree_body_router {
        flex-direction: column-reverse;
        padding-top: 110px;
    }
    logo img {
        width: 116px;
    }
    .router_btn {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .router_btn a{
        width: 30%;
        padding:10px;
        margin: 0;
    }
   
    .index_video {
        width: 100%;
    }

    .card_list {
        flex-direction: column;
        height: 100%;
    }
    .card_item {
        width: 100%;
        display: flex;
        height: 30%;
        animation:none;
        padding:10px;
    }
    .card_item img {
        margin-top: 0;
        width: 50%;
        border-radius: 0;
    }
    .card_item img:hover {
        margin-top: 0;
    }
    .card_content {
        padding-left: 10px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card_item a {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .news_item{
        width: 48%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .scree_body_router {
        padding: 0;
    }
    .index_video {
        display: none;
    }
    .scree_body_router {
        justify-content: center;
    }
    .router_btn a {
        width: 280px;
        margin: 10px;
        color: #e1b066;
        border-color: #e1b066;
    }
    .card_item img{
        display: none;
    }
    .card_content {
        width: 100%;
    }
    .news_list {
        justify-content: space-around;
    }
}